@charset "utf-8";

.select2-results__options {
    max-height: 500px !important;
}

.select2-results__option {
    padding: 0px !important;
    margin: 7px !important;
    line-height: 1.2em;
    font-size: 95%;
}
